<h3 class="text-center">Home</h3>

<div class="m-2 p-2 bg-light">
    <p>
        La fédération internationale de basket-ball (FIBA) souhaite proposer à ses membres (fédérations locales) une
        application de gestion et présentation d'un championnat de basketball.
    </p>

    <p>
        Partie site web, Il devra contenir :
    </p>

    <ul>
        <li>
            Le calendrier des matchs de ses championnats hommes et femmes en première division (la seconde division est
            en option)
        </li>
        <li>
            Les équipes, joueurs et joueuses
        </li>
        <li>Pour chaque match :</li>
        <ul>
            <li>Les résultats (score en fin de quart temps)</li>
            <li>Les statistiques pour chaque joueur et un total par équipe</li>
            <li>Les classements par championnat</li>
        </ul>
    </ul>
    <p>
        Pour les matchs en cours, il sera possible à tout moment de visionner le score et les statistiques (page live).
    </p>
    <p>
        Partie application (Windows Form ou Mobile App) sur site
    </p>
    <p>
        L’application doit permettre aux arbitres d’encoder les points des matchs et à d’autres personnes d’encoder les
        statistiques.
    </p>

</div>